<div class="container main_color">
    <div class="row">
        <div class="col-3">
            <h3>New post</h3>
                <%= form_with model: @post do |f| %>
                    <%= f.label :画像 %>
                    <%= f.file_field :image, accept: "image/*" %>
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><%= f.label :タイトル %></td>
                                <td><%= f.text_field :title %></td>
                            </tr>
                            <tr>
                                <td><%= f.label :本文 %></td>
                                <td><%= f.text_area :body %></td>
                            </tr>
                            <tr>
                                <td><%= f.label :ジャンル %></td>
                                <td><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %></td>
                            </tr>
                            <tr>
                                <td>
                                    <%= f.radio_button :post_status, Post.post_statuses.key(0) %>
                                    <%= f.label :post_status_published, Post.post_statuses_i18n[:published] %>
                                </td>
                                <td>
                                    <%= f.radio_button :post_status, Post.post_statuses.key(1) %>
                                    <%= f.label :post_status_draft, Post.post_statuses_i18n[:draft]%>
                                </td>
                            </tr>
                            <tr>
                                <td><%= f.submit '投稿する', class: 'btn btn-success btn-sm' %></td>
                            </tr>
                        </tbody>
                    </table>
                <% end %>
            <h3>Genre</h3>
                <% @genre.each do |g| %>
                    <ul>
                        <li>
                            <!--<= link_to post_path(post.id) do %>-->
                                <%= g.name %>
                            <!--< end %>-->
                        </li>
                    </ul>
                <% end %>
        </div>
        <div class="col-7">
            <h3 class="d-flex justify-content-center">Post</h3>
                <div class="d-flex flex-wrap">
                    <% @posts.each do |post| %>
                    <table class="mr-5 mb-5">
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <%= link_to post_path(post.id) do %>
                                        <%= post.created_at.strftime("%Y/%m/%d") %>
                                    <% end %>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <%= image_tag post.image, size: "100x100" %>
                                </td>
                            </tr>
                            <tr>
                                <td><%= post.genre.name %></td>
                            </tr>
                            <tr>
                                <td><%= post.title %></td>
                            </tr>
                            <tr>
                                <td><%= post.body %></td>
                            </tr>
                            <tr>
                                <td><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></td>
                            </tr>
                        </tbody>
                    </table>
                    <% end %>
                </div>
        </div>
        <div class="col-2">
            <%= render 'public/members/right_bar', {pick_posts: @pick_posts, post_like_ranks: @post_like_ranks} %>
        </div>
    </div>
</div>