  # クラス名などは省略してあります
  <%= form_with url: search_posts_path, local: true, method: :get do |form| %>
    <%= form.text_field :keyword %>
    <%= form.submit "検索" %>
  <% end %>
<div>
    <h1>New post</h1>
        <%= form_with model: @post do |f| %>
            <div>
                <%= f.label :画像 %>
                <%= f.file_field :image, accept: "image/*" %>
            </div>
            <div>
                <%= f.label :タイトル %>
                <%= f.text_field :title %>
            </div>
            <div>
                <%= f.label :本文 %>
                <%= f.text_area :body %>
            </div>
            <div>
                <%= f.label :ジャンル %>
                <%= f.text_area :genre_id %>
            </div>
            <div>
                <%= f.label :投稿ステータス %>
                <%= f.select :post_status, [['公開',1], ['非公開',2]] %>
            </div>
            <div>
                <%= f.submit '投稿' %>
            </div>
        <% end %>
        
    <h1>Genre</h1>
</div>

<div>
    <h1>Post</h1>
        <% @posts.each do |post| %>
            <div>
                <%= post.created_at.strftime("%Y/%m/%d") %>
                <%= link_to post_path(post.id) do %>
                <%= image_tag post.image, size: "100x100" %>
                <% end %>
                <%= post.genre_id %>
                <%= post.title %>
                <%= post.body %>
                <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
            </div>
        <% end %>
</div>
