<div>
    <div>
        <%= image_tag @member.get_profile_image(100,100) %>
        <%= @member.nickname %>
        <%= @member.self_introduction %>
    </div>
</div>
<div>
    <div>
        <h1>Title</h1>
            <%= @post.created_at.strftime("%Y/%m/%d") %>
            <%= @member.nickname %>
            <%= @post.title %>
            <%= image_tag @post.image, size: "100x100" %>
            <%= @post.genre_id %>
            <%= @post.body %>
            <%= link_to "編集する", edit_post_path, class: 'btn btn-outline-primary mr-3' %>
            <% if @post.member == current_member %>
                <%= link_to "削除する", post_path, method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-sm btn-danger destry_book_id' %>
            <% end %>
    </div>
</div>
<div>
    <h1>コメント</h1>
</div>