<div class="container main_color">
    <div class="row">
        <div class="col-2">
            <h3>プロフィール</h3>
            <%= image_tag @member.get_profile_image(100,100) %><br>
            <%= link_to member_path(@member.id) do %>
            <p><%= @member.nickname %></p>
            <% end %>
            <p><%= @member.self_introduction %></p>
        </div>
        <div class="col-7 ml-3">
            <h3 class="d-flex justify-content-center">投稿</h3>
            <%= image_tag @post.image, class: "show-post-img" %>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>タイトル</td>
                        <td><%= @post.title %></td>
                    </tr>
                    <tr>
                        <td>投稿日時</td>
                        <td><%= @post.created_at.strftime("%Y/%m/%d") %></td>
                    </tr>
                    <tr>
                        <td>ニックネーム</td>
                        <td><%= @member.nickname %></td>
                    </tr>
                    <tr>
                        <td class="genre">ジャンル</td>
                        <td class="genre"><%= @post.genre.name %></td>
                    </tr>
                    <tr>
                        <td>本文</td>
                        <td><%= @post.body %></td>
                    </tr>
                </tbody>
            </table>

            <% if @post.member == current_member %>
                <%= link_to "編集する", edit_post_path, class: 'btn btn-outline-primary mr-3' %>
                <%= link_to "削除する", post_path, method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-outline-danger' %>
            <% end %>

            <h3>コメント</h3>
                <div class="row">
                    <% @post.comments.last(1).each do |comment| %>
                        <div class="col-2"><%= image_tag comment.member.get_profile_image(80,80) %></div>
                        <div class="col-10">
                            <h5><%= comment.member.nickname %></h5>
                            <p><%= comment.created_at.strftime("%Y/%m/%d %H:%M") %></p>
                            <p><%= comment.comment %></p>
                            <% if comment.member == current_member %>
                                <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-danger btn-sm' %>
                            <% end %>
                        </div>
                    <% end %>
                    <p><%= link_to "コメント件数：#{@post.comments.count}", post_comment_index_path(@post) %></p>
                </div>

                <div class="row">
                    <div class="col-4">
                        <%= form_with model: [@post, @comment] do |f| %>
                            <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %><br>
                            <%= f.submit "送信する", class: "btn btn-primary" %>
                        <% end %>
                    </div>
                    <div class="col-4 pt-3">
                        <% if @post.favorited_by?(current_member) %>
                            <p>
                            <%= link_to post_favorites_path(@post), method: :delete do %>
                            <i class="fas fa-heart fa-2x like"></i><br>
                            <% end %>
                            <%= @post.favorites.count %> いいね
                            </p>
                        <% else %>
                            <p>
                            <%= link_to post_favorites_path(@post), method: :post do %>
                            <i class="far fa-heart fa-2x like"></i><br>
                            <% end %>
                            <%= @post.favorites.count %> いいね
                            </p>
                        <% end %>
                    </div>
                </div>
        </div>
        <div class="col-2">
            <%= render 'public/members/right_bar', {pick_posts: @pick_posts, post_like_ranks: @post_like_ranks} %>
        </div>
    </div>
</div>
