<div>
    <div>
        <%= image_tag @member.get_profile_image(100,100) %>
        <%= @member.nickname %>
        <%= @member.self_introduction %>
    </div>
</div>
<div>
    <div>
        <h1>Title</h1>
            <%= @post.created_at.strftime("%Y/%m/%d") %>
            <%= @member.nickname %>
            <%= @post.title %>
            <%= image_tag @post.image, size: "100x100" %>
            <%= @post.genre_id %>
            <%= @post.body %>
            <%= link_to "編集する", edit_post_path, class: 'btn btn-outline-primary mr-3' %>
            <% if @post.member == current_member %>
                <%= link_to "削除する", post_path, method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-sm btn-danger destry_book_id' %>
            <% end %>
            <% if @post.favorited_by?(current_member) %>
                <p>
                <%= link_to post_favorites_path(@post), method: :delete do %>
                ♥<%= @post.favorites.count %> いいね
                <% end %>
                </p>
            <% else %>
                <p>
                <%= link_to post_favorites_path(@post), method: :post do %>
                ♡<%= @post.favorites.count %> いいね
                <% end %>
                </p>
            <% end %>
    </div>
    <div>
      <%= form_with model: [@post, @comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
</div>
<div>
    <h1>コメント</h1>
    <div>
      <p>コメント件数：<%= @post.comments.count %></p>
      <% @post.comments.each do |comment| %>
        <p><%= image_tag comment.member.get_profile_image(100,100) %></p>
        <%= comment.member.last_name %>
        <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
        <% if comment.member == current_member %>
            <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
        <% end %>
      <% end %>
    </div>
        <p><%= link_to "#{@post.comments.count} コメント", post_path(@post.id) %></p>
</div>