<div class="container p-3">
    <div class="row">
        <div class="col-2">
            <h3>会員詳細</h3>
        </div>
        <div class="col-6">
            <table class="table table-bordered">
                <thead>
                    <tr></tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-info">会員ID</td>
                        <td><%= @member.id %></td>
                    </tr>
                    <tr>
                        <td class="table-info">氏名</td>
                        <td><%= @member.last_name+@member.first_name %></td>
                    </tr>
                    <tr>
                        <td class="table-info">フリガナ</td>
                        <td><%= @member.last_name_kana+@member.first_name_kana %></td>
                    </tr>
                    <tr>
                        <td class="table-info">ニックネーム</td>
                        <td><%= @member.nickname %></td>
                    </tr>
                    <tr>
                        <td class="table-info">メールアドレス</td>
                        <td><%= @member.email %></td>
                    </tr>
                    <tr>
                        <td class="table-info">会員ステータス</td>
                        <td>
                            <% if @member.is_deleted %>
                                退会
                            <% else %>
                                <%= "有効" %>
                            <% end %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary mr-5">
            <%= link_to "投稿一覧", admin_post_path(@member) %>
        </button>
        <button type="button" class="btn btn-outline-success">
            <%= link_to "編集する", edit_admin_member_path(@member.id) %>
        </button>
    </div>
</div>