<div class="container">
    <div class="row">
        <p class="top_p"> 
            ようこそ!<br>
            登録なしでサイトの観覧をすることができますが、<br>
            登録すると各種機能が使え、より便利にサイトの利用ができます。<br>
            まずはこちらからゲストログインでサイトをのぞいてみましょう!<br>
    <% if member_signed_in? %>
            <button type="button" class="btn btn-secondary">
                <%= link_to 'ゲストログイン（閲覧用）', posts_path, class: 'botton_link' %>
            </button>
        </p>
    </div>
    <div class="d-flex justify-content-around">
        <button type="button" class="btn btn-secondary">
            <%= link_to '新規登録', posts_path, class: 'botton_link' %>
        </button>
        <button type="button" class="btn btn-secondary">
            <%= link_to 'ログイン', posts_path, class: 'botton_link' %>
        </button>
    </div>
    <% else %>
            <button type="button" class="btn btn-secondary">
                <%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, method: :post, class: 'botton_link' %>
            </button>
        </p>
    </div>
    <div class="d-flex justify-content-around">
        <button type="button" class="btn btn-secondary">
            <%= link_to '新規登録', new_member_registration_path, class: 'botton_link' %>
        </button>
        <button type="button" class="btn btn-secondary">
            <%= link_to 'ログイン', new_member_session_path, class: 'botton_link' %>
        </button>
    </div>
    <% end %>
</div>