<h3>ニックネーム</h3>
<%= member.nickname %><br>
<%= image_tag member.get_profile_image(100,100) %>
<% if current_member != member %>
 　<% if current_member.following?(member) %>
   　<%= link_to 'フォロー外す', member_relationships_path(member.id), method: :delete, class: "btn btn-danger btn-sm" %>
   <% else %>
   　<%= link_to 'フォローする', member_relationships_path(member.id), method: :POST , class: "btn btn-primary btn-sm"%>
   <% end %>
<% end %>
<h3 class="pt-3">自己紹介</h3>
<%= member.self_introduction %>
<p>
    <% if member == current_member %>
        <%= link_to "編集する", edit_member_path(current_member), class: 'btn btn-outline-success' %>
    <% end %>
</p>
<p class="pt-3">
    <%= link_to member_followers_path(member) do %>
        <i class="fas fa-user fa-lg"></i>フォロー一覧
    <% end %>
</p>
<p>
    <%= link_to member_followings_path(member) do %>
        <i class="fas fa-user fa-lg"></i>フォロワー一覧
    <% end %>
</p>
<p class="pt-3">
    <% if member == current_member %>
        <%=link_to drafts_posts_path do %>
            <i class="fas fa-book-open fa-lg"></i>下書き一覧
        <% end %>
    <% end %>
</p>
<p class="pt-3">
    <% if member == current_member %>
        <%=link_to likes_member_path(member) do %>
            <i class="fas fa-heart fa-lg"></i>お気に入り一覧
        <% end %>
    <% end %>
</p>