<div class="container main_color">
    <div class="row">
        <div class="col-3 p-4">
            <h4>マイページ編集</h4>
        </div>
        <div class="col-8">
            <%= form_with model: @member, url: member_path, method: :patch do |f| %>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>画像</td>
                        <td><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></td>
                    </tr>
                    <tr>
                        <td>氏名</td>
                        <td><%= f.text_field :last_name %></td>
                        <td><%= f.text_field :first_name %></td>
                    </tr>
                    <tr>
                        <td>フリガナ</td>
                        <td><%= f.text_field :last_name_kana %></td>
                        <td><%= f.text_field :first_name_kana %></td>
                    </tr>
                    <tr>
                        <td>ニックネーム</td>
                        <td><%= f.text_field :nickname %></td>
                    </tr>
                    <tr>
                        <td>自己紹介</td>
                        <td><%= f.text_field :self_introduction %></td>
                    </tr>
                    <tr>
                        <td>メールアドレス</td>
                        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <%= f.submit " 保存する ", class: 'btn btn-outline-success' %>
                <button type="button" class="btn btn-outline-danger link ml-5">
                    <%= link_to " 退会する ", confirm_path %>
                </button>
            </div>
            <% end %>
        </div>
    </div>
</div>
