<div class="container main_color">
    <div class="row">
        <div class="col-3">
            <p id="notice" class="not"><%= flash[:notice] %></p>
            <%= render 'left_bar', member: @member %>
        </div>
        
        <div class="col-7">
            <h3 class="d-flex justify-content-center">Post</h3>
            <% @my_posts.each do |post| %>
            <div class="d-flex justify-content-between mb-3">
                <div class="pr-5 pt-3">
                    <%= link_to post_path(post.id) do %>
                    <p><%= post.created_at.strftime("%Y/%m/%d") %></p>
                    <% end %>
                    <%= image_tag post.image, size: "100x100" %>
                </div>
                <div>
                    <table class="table table-borderless">
                        <thead>
                            <tr><th></th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="td_i">タイトル</td>
                            </tr>
                            <tr>
                                <td><%= post.title %></td>
                            </tr>
                            <tr>
                                <td class="td_i">本文</td>
                            </tr>
                            <tr>
                            <td><%= post.body %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div></div>
            </div>
            <div>
                <%= link_to "#{post.comments.count} コメント", post_path(post.id) %>
            </div>
            <% end %>
            <div class="row d-flex justify-content-center">
                <%= paginate @my_posts %>
            </div>
        </div>
        <div class="col-2">
            <%= render 'right_bar', {pick_posts: @pick_posts, post_like_ranks: @post_like_ranks} %>
        </div>
    </div>
</div>


