<div>
    <h3><%= @member.nickname %></h3>
    <%= image_tag @member.get_profile_image(100,100) %>
    <h3>自己紹介</h3>
    <%= @member.self_introduction %>
    <%= link_to "編集する", edit_member_path, class: 'btn btn-outline-primary mr-3' %>
    <!--<= link_to 'フォロー', %>-->
    <!--<= link_to 'フォロワー' %>-->
    <h3>いいね一覧</h3>
    <p><%=link_to"お気に入り記事",likes_member_path(@member) %></p>
</div>

<div>
    <h1>Post</h1>
</div>

<div>
    <h1>Pick up</h1>
</div>

 <% if current_member != member %>
 　<% if current_member.following?(member) %>
   　<%= link_to 'フォロー外す', member_relationships_path(member.id), method: :delete, class: "btn btn-default" %>
   <% else %>
   　<%= link_to 'フォローする', member_relationships_path(member.id), method: :POST , class: "btn btn-primary"%>
   <% end %>
 <% end %>